# Write a CSV file

In [1]:
import pandas as pd

In [2]:
dis ={"A":[1,2,3,4,5],"B":[4,5,6,7,8],"C":[3,5,5,6,76]}
dis_2=pd.DataFrame(dis)
print(dis_2)

   A  B   C
0  1  4   3
1  2  5   5
2  3  6   5
3  4  7   6
4  5  8  76

In [3]:
dis_2.to_csv("test_new.csv")

In [4]:
dis_2.to_csv("test_new1.csv",index=False)

In [5]:
dis_2.to_csv("test_new3.csv", index=False,header=False)

# READ CSV FILE IN PANDAS

In [6]:
CSV = pd.read_csv("Details.csv")
CSV

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [7]:
CSV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      26 non-null     object
 1   Amount        26 non-null     float64
 2   Profit        26 non-null     float64
 3   Quantity      27 non-null     float64
 4   Category      26 non-null     object
 5   Sub-Category  25 non-null     object
 6   PaymentMode   26 non-null     object
dtypes: float64(3), object(4)
memory usage: 1.7+ KB

In [8]:
print(type(CSV))

<class 'pandas.core.frame.DataFrame'>

In [9]:
CSV = pd.read_csv("Details.csv",nrows=4)
CSV

  Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0  B-25681    1096     658         7  Electronics          NaN          COD
1  B-26055    5729      64        14    Furniture       Chairs          EMI
2      NaN    2927     146         8    Furniture    Bookcases          EMI
3  B-26093    2847     712         8  Electronics     Printers  Credit Card

In [10]:
CSV = pd.read_csv("Details.csv",usecols=["Category"])
CSV

       Category
0   Electronics
1     Furniture
2     Furniture
3   Electronics
4   Electronics
5           NaN
6      Clothing
7      Clothing
8      Clothing
9      Clothing
10     Clothing
11  Electronics
12  Electronics
13    Furniture
14    Furniture
15     Clothing
16    Furniture
17     Clothing
18    Furniture
19     Clothing
20    Furniture
21  Electronics
22          NaN
23     Clothing
24     Clothing
25  Electronics
26  Electronics
27  Electronics

In [11]:
CSV=pd.read_csv("Details.csv",usecols=[2,1,3])
CSV

    Amount  Profit  Quantity
0   1096.0   658.0       7.0
1   5729.0    64.0      14.0
2   2927.0   146.0       8.0
3   2847.0   712.0       8.0
4   2617.0  1151.0       4.0
5   2244.0   247.0       4.0
6    275.0  -275.0       4.0
7    387.0     NaN       5.0
8     50.0   -44.0       2.0
9    135.0   -54.0       5.0
10   231.0  -190.0       9.0
11  2125.0  -234.0       6.0
12  3873.0  -891.0       6.0
13   729.0  -492.0       5.0
14     NaN  1050.0       5.0
15     6.0    -3.0       1.0
16  1854.0   433.0       5.0
17     6.0     1.0       1.0
18  2093.0   721.0       5.0
19     7.0    -1.0       2.0
20  1622.0  -624.0       5.0
21  1622.0    95.0       5.0
22     NaN     NaN       NaN
23    82.0   -33.0       4.0
24     8.0     2.0       2.0
25  1954.0   782.0       3.0
26  1543.0   370.0       8.0
27  1506.0  -266.0       6.0

In [12]:
CSV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Amount    26 non-null     float64
 1   Profit    26 non-null     float64
 2   Quantity  27 non-null     float64
dtypes: float64(3)
memory usage: 804.0 bytes

In [13]:
CSV.describe()

            Amount       Profit   Quantity
count    26.000000    26.000000  27.000000
mean   1444.923077   127.884615   5.148148
std    1416.997782   496.455704   2.755466
min       6.000000  -891.000000   1.000000
25%     159.000000  -156.000000   4.000000
50%    1524.500000     1.500000   5.000000
75%    2117.000000   417.250000   6.000000
max    5729.000000  1151.000000  14.000000

In [14]:
CSV=pd.read_csv("Details.csv",skiprows=[0])
CSV

    B-25681    1096     658     7  Electronics   Unnamed: 5          COD
0   B-26055  5729.0    64.0  14.0    Furniture       Chairs          EMI
1       NaN  2927.0   146.0   8.0    Furniture    Bookcases          EMI
2   B-26093  2847.0   712.0   8.0  Electronics     Printers  Credit Card
3   B-25602  2617.0  1151.0   4.0  Electronics       Phones  Credit Card
4   B-25881  2244.0   247.0   4.0          NaN     Trousers  Credit Card
5   B-25696   275.0  -275.0   4.0     Clothing        Saree          COD
6   B-25687   387.0     NaN   5.0     Clothing        Saree          UPI
7   B-25643    50.0   -44.0   2.0     Clothing  Hankerchief          UPI
8   B-25851   135.0   -54.0   5.0     Clothing        Kurti          COD
9   B-25703   231.0  -190.0   9.0     Clothing  Hankerchief          COD
10  B-25887  2125.0  -234.0   6.0  Electronics     Printers          EMI
11  B-25923  3873.0  -891.0   6.0  Electronics       Phones  Credit Card
12  B-25756   729.0  -492.0   5.0    Furniture    Bookcases          UPI
13  B-25761     NaN  1050.0   5.0    Furniture    Bookcases  Credit Card
14  B-25655     6.0    -3.0   1.0     Clothing          NaN          UPI
15  B-25786  1854.0   433.0   5.0    Furniture    Bookcases  Credit Card
16  B-26095     6.0     1.0   1.0     Clothing        Kurti          UPI
17  B-25853  2093.0   721.0   5.0    Furniture       Chairs  Credit Card
18  B-25735     7.0    -1.0   2.0     Clothing        Skirt          UPI
19  B-25910  1622.0  -624.0   5.0    Furniture       Tables  Credit Card
20  B-25950  1622.0    95.0   5.0  Electronics     Printers          NaN
21      NaN     NaN     NaN   NaN          NaN          NaN          NaN
22  B-25845    82.0   -33.0   4.0     Clothing        Kurti          COD
23  B-26001     8.0     2.0   2.0     Clothing        Skirt          UPI
24  B-25830  1954.0   782.0   3.0  Electronics       Phones  Credit Card
25  B-25842  1543.0   370.0   8.0  Electronics     Printers  Credit Card
26  B-25778  1506.0  -266.0   6.0  Electronics     Printers  Credit Card

In [15]:
CSV = pd.read_csv("Details.csv",index_col="Order ID")
CSV

          Amount  Profit  Quantity     Category Sub-Category  PaymentMode
Order ID
B-25681   1096.0   658.0       7.0  Electronics          NaN          COD
B-26055   5729.0    64.0      14.0    Furniture       Chairs          EMI
NaN       2927.0   146.0       8.0    Furniture    Bookcases          EMI
B-26093   2847.0   712.0       8.0  Electronics     Printers  Credit Card
B-25602   2617.0  1151.0       4.0  Electronics       Phones  Credit Card
B-25881   2244.0   247.0       4.0          NaN     Trousers  Credit Card
B-25696    275.0  -275.0       4.0     Clothing        Saree          COD
B-25687    387.0     NaN       5.0     Clothing        Saree          UPI
B-25643     50.0   -44.0       2.0     Clothing  Hankerchief          UPI
B-25851    135.0   -54.0       5.0     Clothing        Kurti          COD
B-25703    231.0  -190.0       9.0     Clothing  Hankerchief          COD
B-25887   2125.0  -234.0       6.0  Electronics     Printers          EMI
B-25923   3873.0  -891.0       6.0  Electronics       Phones  Credit Card
B-25756    729.0  -492.0       5.0    Furniture    Bookcases          UPI
B-25761      NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
B-25655      6.0    -3.0       1.0     Clothing          NaN          UPI
B-25786   1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
B-26095      6.0     1.0       1.0     Clothing        Kurti          UPI
B-25853   2093.0   721.0       5.0    Furniture       Chairs  Credit Card
B-25735      7.0    -1.0       2.0     Clothing        Skirt          UPI
B-25910   1622.0  -624.0       5.0    Furniture       Tables  Credit Card
B-25950   1622.0    95.0       5.0  Electronics     Printers          NaN
NaN          NaN     NaN       NaN          NaN          NaN          NaN
B-25845     82.0   -33.0       4.0     Clothing        Kurti          COD
B-26001      8.0     2.0       2.0     Clothing        Skirt          UPI
B-25830   1954.0   782.0       3.0  Electronics       Phones  Credit Card
B-25842   1543.0   370.0       8.0  Electronics     Printers  Credit Card
B-25778   1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [16]:
CSV = pd.read_csv("Details.csv",header=1)
CSV

    B-25681    1096     658     7  Electronics   Unnamed: 5          COD
0   B-26055  5729.0    64.0  14.0    Furniture       Chairs          EMI
1       NaN  2927.0   146.0   8.0    Furniture    Bookcases          EMI
2   B-26093  2847.0   712.0   8.0  Electronics     Printers  Credit Card
3   B-25602  2617.0  1151.0   4.0  Electronics       Phones  Credit Card
4   B-25881  2244.0   247.0   4.0          NaN     Trousers  Credit Card
5   B-25696   275.0  -275.0   4.0     Clothing        Saree          COD
6   B-25687   387.0     NaN   5.0     Clothing        Saree          UPI
7   B-25643    50.0   -44.0   2.0     Clothing  Hankerchief          UPI
8   B-25851   135.0   -54.0   5.0     Clothing        Kurti          COD
9   B-25703   231.0  -190.0   9.0     Clothing  Hankerchief          COD
10  B-25887  2125.0  -234.0   6.0  Electronics     Printers          EMI
11  B-25923  3873.0  -891.0   6.0  Electronics       Phones  Credit Card
12  B-25756   729.0  -492.0   5.0    Furniture    Bookcases          UPI
13  B-25761     NaN  1050.0   5.0    Furniture    Bookcases  Credit Card
14  B-25655     6.0    -3.0   1.0     Clothing          NaN          UPI
15  B-25786  1854.0   433.0   5.0    Furniture    Bookcases  Credit Card
16  B-26095     6.0     1.0   1.0     Clothing        Kurti          UPI
17  B-25853  2093.0   721.0   5.0    Furniture       Chairs  Credit Card
18  B-25735     7.0    -1.0   2.0     Clothing        Skirt          UPI
19  B-25910  1622.0  -624.0   5.0    Furniture       Tables  Credit Card
20  B-25950  1622.0    95.0   5.0  Electronics     Printers          NaN
21      NaN     NaN     NaN   NaN          NaN          NaN          NaN
22  B-25845    82.0   -33.0   4.0     Clothing        Kurti          COD
23  B-26001     8.0     2.0   2.0     Clothing        Skirt          UPI
24  B-25830  1954.0   782.0   3.0  Electronics       Phones  Credit Card
25  B-25842  1543.0   370.0   8.0  Electronics     Printers  Credit Card
26  B-25778  1506.0  -266.0   6.0  Electronics     Printers  Credit Card

In [17]:
CSV = pd.read_csv("Details.csv",names=["Details","details1","details2","details3"])
CSV

                         Details     details1      details2     details3
Order ID Amount Profit  Quantity     Category  Sub-Category  PaymentMode
B-25681  1096   658            7  Electronics           NaN          COD
B-26055  5729   64            14    Furniture        Chairs          EMI
NaN      2927   146            8    Furniture     Bookcases          EMI
B-26093  2847   712            8  Electronics      Printers  Credit Card
B-25602  2617   1151           4  Electronics        Phones  Credit Card
B-25881  2244   247            4          NaN      Trousers  Credit Card
B-25696  275    -275           4     Clothing         Saree          COD
B-25687  387    NaN            5     Clothing         Saree          UPI
B-25643  50     -44            2     Clothing   Hankerchief          UPI
B-25851  135    -54            5     Clothing         Kurti          COD
B-25703  231    -190           9     Clothing   Hankerchief          COD
B-25887  2125   -234           6  Electronics      Printers          EMI
B-25923  3873   -891           6  Electronics        Phones  Credit Card
B-25756  729    -492           5    Furniture     Bookcases          UPI
B-25761  NaN    1050           5    Furniture     Bookcases  Credit Card
B-25655  6      -3             1     Clothing           NaN          UPI
B-25786  1854   433            5    Furniture     Bookcases  Credit Card
B-26095  6      1              1     Clothing         Kurti          UPI
B-25853  2093   721            5    Furniture        Chairs  Credit Card
B-25735  7      -1             2     Clothing         Skirt          UPI
B-25910  1622   -624           5    Furniture        Tables  Credit Card
B-25950  1622   95             5  Electronics      Printers          NaN
NaN      NaN    NaN          NaN          NaN           NaN          NaN
B-25845  82     -33            4     Clothing         Kurti          COD
B-26001  8      2              2     Clothing         Skirt          UPI
B-25830  1954   782            3  Electronics        Phones  Credit Card
B-25842  1543   370            8  Electronics      Printers  Credit Card
B-25778  1506   -266           6  Electronics      Printers  Credit Card

In [18]:
CSV = pd.read_csv("Details.csv")
CSV

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [19]:

CSV = pd.read_csv("Details.csv", header=None)
CSV

           0       1       2         3            4             5            6
0   Order ID  Amount  Profit  Quantity     Category  Sub-Category  PaymentMode
1    B-25681    1096     658         7  Electronics           NaN          COD
2    B-26055    5729      64        14    Furniture        Chairs          EMI
3        NaN    2927     146         8    Furniture     Bookcases          EMI
4    B-26093    2847     712         8  Electronics      Printers  Credit Card
5    B-25602    2617    1151         4  Electronics        Phones  Credit Card
6    B-25881    2244     247         4          NaN      Trousers  Credit Card
7    B-25696     275    -275         4     Clothing         Saree          COD
8    B-25687     387     NaN         5     Clothing         Saree          UPI
9    B-25643      50     -44         2     Clothing   Hankerchief          UPI
10   B-25851     135     -54         5     Clothing         Kurti          COD
11   B-25703     231    -190         9     Clothing   Hankerchief          COD
12   B-25887    2125    -234         6  Electronics      Printers          EMI
13   B-25923    3873    -891         6  Electronics        Phones  Credit Card
14   B-25756     729    -492         5    Furniture     Bookcases          UPI
15   B-25761     NaN    1050         5    Furniture     Bookcases  Credit Card
16   B-25655       6      -3         1     Clothing           NaN          UPI
17   B-25786    1854     433         5    Furniture     Bookcases  Credit Card
18   B-26095       6       1         1     Clothing         Kurti          UPI
19   B-25853    2093     721         5    Furniture        Chairs  Credit Card
20   B-25735       7      -1         2     Clothing         Skirt          UPI
21   B-25910    1622    -624         5    Furniture        Tables  Credit Card
22   B-25950    1622      95         5  Electronics      Printers          NaN
23       NaN     NaN     NaN       NaN          NaN           NaN          NaN
24   B-25845      82     -33         4     Clothing         Kurti          COD
25   B-26001       8       2         2     Clothing         Skirt          UPI
26   B-25830    1954     782         3  Electronics        Phones  Credit Card
27   B-25842    1543     370         8  Electronics      Printers  Credit Card
28   B-25778    1506    -266         6  Electronics      Printers  Credit Card

In [20]:
CSV = pd.read_csv("Details.csv",dtype={"Quantity":"float"})
CSV

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

# Pandas Functions

In [21]:
csv=pd.read_csv("Details.csv")
csv

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [22]:
csv.index

RangeIndex(start=0, stop=28, step=1)

In [23]:
csv.columns

Index(['Order ID', 'Amount', 'Profit', 'Quantity', 'Category', 'Sub-Category',
       'PaymentMode'],
      dtype='object')

In [24]:
csv.describe()

            Amount       Profit   Quantity
count    26.000000    26.000000  27.000000
mean   1444.923077   127.884615   5.148148
std    1416.997782   496.455704   2.755466
min       6.000000  -891.000000   1.000000
25%     159.000000  -156.000000   4.000000
50%    1524.500000     1.500000   5.000000
75%    2117.000000   417.250000   6.000000
max    5729.000000  1151.000000  14.000000

In [25]:
 csv.head()

  Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0  B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1  B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2      NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3  B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4  B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card

In [26]:
csv.tail()
csv.tail(2)

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [27]:
csv[:3]

  Order ID  Amount  Profit  Quantity     Category Sub-Category PaymentMode
0  B-25681  1096.0   658.0       7.0  Electronics          NaN         COD
1  B-26055  5729.0    64.0      14.0    Furniture       Chairs         EMI
2      NaN  2927.0   146.0       8.0    Furniture    Bookcases         EMI

In [28]:
csv[::2]#start end steps

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card

In [29]:
print(type(csv))

<class 'pandas.core.frame.DataFrame'>

In [30]:
csv.index.array

<PandasArray>
[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
 19, 20, 21, 22, 23, 24, 25, 26, 27]
Length: 28, dtype: int64

In [31]:
csv.columns.array

<PandasArray>
[    'Order ID',       'Amount',       'Profit',     'Quantity',
     'Category', 'Sub-Category',  'PaymentMode']
Length: 7, dtype: object

In [32]:
csv.to_numpy()

array([['B-25681', 1096.0, 658.0, 7.0, 'Electronics', nan, 'COD'],
       ['B-26055', 5729.0, 64.0, 14.0, 'Furniture', 'Chairs', 'EMI'],
       [nan, 2927.0, 146.0, 8.0, 'Furniture', 'Bookcases', 'EMI'],
       ['B-26093', 2847.0, 712.0, 8.0, 'Electronics', 'Printers',
        'Credit Card'],
       ['B-25602', 2617.0, 1151.0, 4.0, 'Electronics', 'Phones',
        'Credit Card'],
       ['B-25881', 2244.0, 247.0, 4.0, nan, 'Trousers', 'Credit Card'],
       ['B-25696', 275.0, -275.0, 4.0, 'Clothing', 'Saree', 'COD'],
       ['B-25687', 387.0, nan, 5.0, 'Clothing', 'Saree', 'UPI'],
       ['B-25643', 50.0, -44.0, 2.0, 'Clothing', 'Hankerchief', 'UPI'],
       ['B-25851', 135.0, -54.0, 5.0, 'Clothing', 'Kurti', 'COD'],
       ['B-25703', 231.0, -190.0, 9.0, 'Clothing', 'Hankerchief', 'COD'],
       ['B-25887', 2125.0, -234.0, 6.0, 'Electronics', 'Printers', 'EMI'],
       ['B-25923', 3873.0, -891.0, 6.0, 'Electronics', 'Phones',
        'Credit Card'],
       ['B-25756', 729.0, -492.0, 5.0, 'Furniture', 'Bookcases', 'UPI'],
       ['B-25761', nan, 1050.0, 5.0, 'Furniture', 'Bookcases',
        'Credit Card'],
       ['B-25655', 6.0, -3.0, 1.0, 'Clothing', nan, 'UPI'],
       ['B-25786', 1854.0, 433.0, 5.0, 'Furniture', 'Bookcases',
        'Credit Card'],
       ['B-26095', 6.0, 1.0, 1.0, 'Clothing', 'Kurti', 'UPI'],
       ['B-25853', 2093.0, 721.0, 5.0, 'Furniture', 'Chairs',
        'Credit Card'],
       ['B-25735', 7.0, -1.0, 2.0, 'Clothing', 'Skirt', 'UPI'],
       ['B-25910', 1622.0, -624.0, 5.0, 'Furniture', 'Tables',
        'Credit Card'],
       ['B-25950', 1622.0, 95.0, 5.0, 'Electronics', 'Printers', nan],
       [nan, nan, nan, nan, nan, nan, nan],
       ['B-25845', 82.0, -33.0, 4.0, 'Clothing', 'Kurti', 'COD'],
       ['B-26001', 8.0, 2.0, 2.0, 'Clothing', 'Skirt', 'UPI'],
       ['B-25830', 1954.0, 782.0, 3.0, 'Electronics', 'Phones',
        'Credit Card'],
       ['B-25842', 1543.0, 370.0, 8.0, 'Electronics', 'Printers',
        'Credit Card'],
       ['B-25778', 1506.0, -266.0, 6.0, 'Electronics', 'Printers',
        'Credit Card']], dtype=object)

 Numpy array

In [33]:
import numpy as np

In [34]:
N = np.asarray(csv)
N

array([['B-25681', 1096.0, 658.0, 7.0, 'Electronics', nan, 'COD'],
       ['B-26055', 5729.0, 64.0, 14.0, 'Furniture', 'Chairs', 'EMI'],
       [nan, 2927.0, 146.0, 8.0, 'Furniture', 'Bookcases', 'EMI'],
       ['B-26093', 2847.0, 712.0, 8.0, 'Electronics', 'Printers',
        'Credit Card'],
       ['B-25602', 2617.0, 1151.0, 4.0, 'Electronics', 'Phones',
        'Credit Card'],
       ['B-25881', 2244.0, 247.0, 4.0, nan, 'Trousers', 'Credit Card'],
       ['B-25696', 275.0, -275.0, 4.0, 'Clothing', 'Saree', 'COD'],
       ['B-25687', 387.0, nan, 5.0, 'Clothing', 'Saree', 'UPI'],
       ['B-25643', 50.0, -44.0, 2.0, 'Clothing', 'Hankerchief', 'UPI'],
       ['B-25851', 135.0, -54.0, 5.0, 'Clothing', 'Kurti', 'COD'],
       ['B-25703', 231.0, -190.0, 9.0, 'Clothing', 'Hankerchief', 'COD'],
       ['B-25887', 2125.0, -234.0, 6.0, 'Electronics', 'Printers', 'EMI'],
       ['B-25923', 3873.0, -891.0, 6.0, 'Electronics', 'Phones',
        'Credit Card'],
       ['B-25756', 729.0, -492.0, 5.0, 'Furniture', 'Bookcases', 'UPI'],
       ['B-25761', nan, 1050.0, 5.0, 'Furniture', 'Bookcases',
        'Credit Card'],
       ['B-25655', 6.0, -3.0, 1.0, 'Clothing', nan, 'UPI'],
       ['B-25786', 1854.0, 433.0, 5.0, 'Furniture', 'Bookcases',
        'Credit Card'],
       ['B-26095', 6.0, 1.0, 1.0, 'Clothing', 'Kurti', 'UPI'],
       ['B-25853', 2093.0, 721.0, 5.0, 'Furniture', 'Chairs',
        'Credit Card'],
       ['B-25735', 7.0, -1.0, 2.0, 'Clothing', 'Skirt', 'UPI'],
       ['B-25910', 1622.0, -624.0, 5.0, 'Furniture', 'Tables',
        'Credit Card'],
       ['B-25950', 1622.0, 95.0, 5.0, 'Electronics', 'Printers', nan],
       [nan, nan, nan, nan, nan, nan, nan],
       ['B-25845', 82.0, -33.0, 4.0, 'Clothing', 'Kurti', 'COD'],
       ['B-26001', 8.0, 2.0, 2.0, 'Clothing', 'Skirt', 'UPI'],
       ['B-25830', 1954.0, 782.0, 3.0, 'Electronics', 'Phones',
        'Credit Card'],
       ['B-25842', 1543.0, 370.0, 8.0, 'Electronics', 'Printers',
        'Credit Card'],
       ['B-25778', 1506.0, -266.0, 6.0, 'Electronics', 'Printers',
        'Credit Card']], dtype=object)

In [35]:
csv.sort_index(axis=0,ascending=False)

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD

In [36]:
csv["Order ID"][0]="python"
csv

C:\Users\Admin\AppData\Local\Temp\ipykernel_7648\434495854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv["Order ID"][0]="python"

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0    python  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [37]:
csv.loc[0,"Category"]="clothing"
csv

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0    python  1096.0   658.0       7.0     clothing          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [38]:
csv.loc[[2,3],["Category","Sub-Category"]]

      Category Sub-Category
2    Furniture    Bookcases
3  Electronics     Printers

In [39]:
csv.loc[:,["Category","Sub-Category"]]

       Category Sub-Category
0      clothing          NaN
1     Furniture       Chairs
2     Furniture    Bookcases
3   Electronics     Printers
4   Electronics       Phones
5           NaN     Trousers
6      Clothing        Saree
7      Clothing        Saree
8      Clothing  Hankerchief
9      Clothing        Kurti
10     Clothing  Hankerchief
11  Electronics     Printers
12  Electronics       Phones
13    Furniture    Bookcases
14    Furniture    Bookcases
15     Clothing          NaN
16    Furniture    Bookcases
17     Clothing        Kurti
18    Furniture       Chairs
19     Clothing        Skirt
20    Furniture       Tables
21  Electronics     Printers
22          NaN          NaN
23     Clothing        Kurti
24     Clothing        Skirt
25  Electronics       Phones
26  Electronics     Printers
27  Electronics     Printers

In [40]:
csv=pd.read_csv("Details.csv")
csv

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [41]:
csv.iloc[0]

Order ID            B-25681
Amount               1096.0
Profit                658.0
Quantity                7.0
Category        Electronics
Sub-Category            NaN
PaymentMode             COD
Name: 0, dtype: object

In [42]:
csv.drop([0])

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [43]:
csv.drop("Quantity",axis=1)

   Order ID  Amount  Profit     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0     Clothing        Saree          COD
7   B-25687   387.0     NaN     Clothing        Saree          UPI
8   B-25643    50.0   -44.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0  Electronics     Printers          NaN
22      NaN     NaN     NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0  Electronics     Printers  Credit Card

# Handing Missing Data

Dropna and fillna

In [44]:
csv=pd.read_csv("Details.csv")
csv

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [45]:
csv.dropna()

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [46]:
csv.dropna(axis=0)

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [47]:
csv.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]

In [48]:
csv.dropna(how="all")

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [49]:
csv.dropna(subset=["Sub-Category"])

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [50]:
csv.dropna(inplace=True)
csv

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [51]:
csv.dropna(thresh=1)

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

# fillna

In [52]:
csv.fillna("python")

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [53]:
csv.fillna({"Sub-Category":"saree"})

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [54]:
csv.fillna(method="ffill") #forword filling

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [55]:
csv.fillna(method="bfill") #backward filling

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [56]:
csv.fillna(method="ffill",axis=0)

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [57]:
csv.fillna(method="ffill",axis=1)

   Order ID  Amount  Profit Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0     14.0    Furniture       Chairs          EMI
3   B-26093  2847.0   712.0      8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0      4.0  Electronics       Phones  Credit Card
6   B-25696   275.0  -275.0      4.0     Clothing        Saree          COD
8   B-25643    50.0   -44.0      2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0      5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0      9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0      6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0      6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0      5.0    Furniture    Bookcases          UPI
16  B-25786  1854.0   433.0      5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0      1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0      5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0      2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0      5.0    Furniture       Tables  Credit Card
23  B-25845    82.0   -33.0      4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0      2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0      3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0      8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0      6.0  Electronics     Printers  Credit Card

In [58]:
csv.fillna(12,inplace=True)

In [59]:
csv

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [60]:
csv.fillna("python",limit=10)

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

# Replace AND Interpolate

 Replace

In [61]:
CSV = pd.read_csv("Details.csv")
CSV

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [62]:
CSV = CSV.replace(to_replace=7.0, value=22)
CSV

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0      22.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735    22.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [63]:
CSV=CSV.replace(to_replace="Electronics",value="electricity")
CSV

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0      22.0  electricity          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  electricity     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  electricity       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  electricity     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  electricity       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735    22.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  electricity     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  electricity       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  electricity     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  electricity     Printers  Credit Card

In [64]:
CSV.replace([1,2,3,4,5],0)

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0      22.0  electricity          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  electricity     Printers  Credit Card
4   B-25602  2617.0  1151.0       0.0  electricity       Phones  Credit Card
5   B-25881  2244.0   247.0       0.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       0.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       0.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       0.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       0.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  electricity     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  electricity       Phones  Credit Card
13  B-25756   729.0  -492.0       0.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       0.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       0.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       0.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     0.0       0.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       0.0    Furniture       Chairs  Credit Card
19  B-25735    22.0    -1.0       0.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       0.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       0.0  electricity     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       0.0     Clothing        Kurti          COD
24  B-26001     8.0     0.0       0.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       0.0  electricity       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  electricity     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  electricity     Printers  Credit Card

In [65]:
CSV.replace("[A-Za-z]","python",regex=True)

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,python-25681,1096.0,658.0,22.0,pythonpythonpythonpythonpythonpythonpythonpyth...,NaN,pythonpythonpython
1,python-26055,5729.0,64.0,14.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,pythonpythonpython
2,NaN,2927.0,146.0,8.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpython
3,python-26093,2847.0,712.0,8.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpython pythonpyt...
4,python-25602,2617.0,1151.0,4.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpython pythonpyt...
5,python-25881,2244.0,247.0,4.0,NaN,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpython pythonpyt...
6,python-25696,275.0,-275.0,4.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpython,pythonpythonpython
7,python-25687,387.0,NaN,5.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpython,pythonpythonpython
8,python-25643,50.0,-44.0,2.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpython
9,python-25851,135.0,-54.0,5.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpython,pythonpythonpython
10,python-25703,231.0,-190.0,9.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpython
11,python-25887,2125.0,-234.0,6.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpython
12,python-25923,3873.0,-891.0,6.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpython pythonpyt...
13,python-25756,729.0,-492.0,5.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpython
14,python-25761,NaN,1050.0,5.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython pythonpyt...
15,python-25655,6.0,-3.0,1.0,pythonpythonpythonpythonpythonpythonpythonpython,NaN,pythonpythonpython
16,python-25786,1854.0,433.0,5.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython pythonpyt...
17,python-26095,6.0,1.0,1.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpython,pythonpythonpython
18,python-25853,2093.0,721.0,5.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpython pythonpyt...
19,python-25735,22.0,-1.0,2.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpython,pythonpythonpython
20,python-25910,1622.0,-624.0,5.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpython pythonpyt...
21,python-25950,1622.0,95.0,5.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpython,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,python-25845,82.0,-33.0,4.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpython,pythonpythonpython
24,python-26001,8.0,2.0,2.0,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpython,pythonpythonpython
25,python-25830,1954.0,782.0,3.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpython pythonpyt...
26,python-25842,1543.0,370.0,8.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpython pythonpyt...
27,python-25778,1506.0,-266.0,6.0,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpython pythonpyt...

In [66]:
CSV.replace({"Category":'[A-Z]'},50,regex=True)

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0      22.0  electricity          NaN          COD
1   B-26055  5729.0    64.0      14.0           50       Chairs          EMI
2       NaN  2927.0   146.0       8.0           50    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  electricity     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  electricity       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0           50        Saree          COD
7   B-25687   387.0     NaN       5.0           50        Saree          UPI
8   B-25643    50.0   -44.0       2.0           50  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0           50        Kurti          COD
10  B-25703   231.0  -190.0       9.0           50  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  electricity     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  electricity       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0           50    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0           50    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0           50          NaN          UPI
16  B-25786  1854.0   433.0       5.0           50    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0           50        Kurti          UPI
18  B-25853  2093.0   721.0       5.0           50       Chairs  Credit Card
19  B-25735    22.0    -1.0       2.0           50        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0           50       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  electricity     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0           50        Kurti          COD
24  B-26001     8.0     2.0       2.0           50        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  electricity       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  electricity     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  electricity     Printers  Credit Card

In [67]:
CSV.replace({"Category":'[A-C]'}, 2225020,regex=True)

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0      22.0  electricity          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  electricity     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  electricity       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0      2225020        Saree          COD
7   B-25687   387.0     NaN       5.0      2225020        Saree          UPI
8   B-25643    50.0   -44.0       2.0      2225020  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0      2225020        Kurti          COD
10  B-25703   231.0  -190.0       9.0      2225020  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  electricity     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  electricity       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0      2225020          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0      2225020        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735    22.0    -1.0       2.0      2225020        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  electricity     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0      2225020        Kurti          COD
24  B-26001     8.0     2.0       2.0      2225020        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  electricity       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  electricity     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  electricity     Printers  Credit Card

In [68]:
CSV.replace(4,method="ffill")

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0      22.0  electricity          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  electricity     Printers  Credit Card
4   B-25602  2617.0  1151.0       8.0  electricity       Phones  Credit Card
5   B-25881  2244.0   247.0       8.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       8.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  electricity     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  electricity       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735    22.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  electricity     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       NaN     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  electricity       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  electricity     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  electricity     Printers  Credit Card

In [69]:
CSV.replace(5,method="bfill")

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0      22.0  electricity          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  electricity     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  electricity       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       2.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       9.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  electricity     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  electricity       Phones  Credit Card
13  B-25756   729.0  -492.0       1.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       1.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       1.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       2.0    Furniture       Chairs  Credit Card
19  B-25735    22.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       NaN    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       NaN  electricity     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  electricity       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  electricity     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  electricity     Printers  Credit Card

In [70]:
CSV.replace(14,method="ffill",limit=3)

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0      22.0  electricity          NaN          COD
1   B-26055  5729.0    64.0      22.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  electricity     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  electricity       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  electricity     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  electricity       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735    22.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  electricity     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  electricity       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  electricity     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  electricity     Printers  Credit Card

Interpolate

In [71]:
CSV = pd.read_csv("Details.csv")
CSV

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0     NaN       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761     NaN  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN     NaN     NaN       NaN          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [72]:
CSV.interpolate()#work only numberor digits not work on alphabates

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0  -159.5       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761   367.5  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN   852.0    31.0       4.5          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [73]:
CSV.interpolate(method="linear")

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0  -159.5       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761   367.5  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN   852.0    31.0       4.5          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

In [74]:
CSV.interpolate(method="linear",axis=0)

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0  -159.5       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761   367.5  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN   852.0    31.0       4.5          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

# method must be one of ['linear', 'time', 'index', 'values', 'nearest', 'zero', 'slinear', 'quadratic', 'cubic', 'barycentric', 'krogh', 'spline', 'polynomial', 'from_derivatives', 'piecewise_polynomial', 'pchip', 'akima', 'cubicspline']. Got 'liner' instead.

In [75]:
CSV.interpolate(limit=2)

   Order ID  Amount  Profit  Quantity     Category Sub-Category  PaymentMode
0   B-25681  1096.0   658.0       7.0  Electronics          NaN          COD
1   B-26055  5729.0    64.0      14.0    Furniture       Chairs          EMI
2       NaN  2927.0   146.0       8.0    Furniture    Bookcases          EMI
3   B-26093  2847.0   712.0       8.0  Electronics     Printers  Credit Card
4   B-25602  2617.0  1151.0       4.0  Electronics       Phones  Credit Card
5   B-25881  2244.0   247.0       4.0          NaN     Trousers  Credit Card
6   B-25696   275.0  -275.0       4.0     Clothing        Saree          COD
7   B-25687   387.0  -159.5       5.0     Clothing        Saree          UPI
8   B-25643    50.0   -44.0       2.0     Clothing  Hankerchief          UPI
9   B-25851   135.0   -54.0       5.0     Clothing        Kurti          COD
10  B-25703   231.0  -190.0       9.0     Clothing  Hankerchief          COD
11  B-25887  2125.0  -234.0       6.0  Electronics     Printers          EMI
12  B-25923  3873.0  -891.0       6.0  Electronics       Phones  Credit Card
13  B-25756   729.0  -492.0       5.0    Furniture    Bookcases          UPI
14  B-25761   367.5  1050.0       5.0    Furniture    Bookcases  Credit Card
15  B-25655     6.0    -3.0       1.0     Clothing          NaN          UPI
16  B-25786  1854.0   433.0       5.0    Furniture    Bookcases  Credit Card
17  B-26095     6.0     1.0       1.0     Clothing        Kurti          UPI
18  B-25853  2093.0   721.0       5.0    Furniture       Chairs  Credit Card
19  B-25735     7.0    -1.0       2.0     Clothing        Skirt          UPI
20  B-25910  1622.0  -624.0       5.0    Furniture       Tables  Credit Card
21  B-25950  1622.0    95.0       5.0  Electronics     Printers          NaN
22      NaN   852.0    31.0       4.5          NaN          NaN          NaN
23  B-25845    82.0   -33.0       4.0     Clothing        Kurti          COD
24  B-26001     8.0     2.0       2.0     Clothing        Skirt          UPI
25  B-25830  1954.0   782.0       3.0  Electronics       Phones  Credit Card
26  B-25842  1543.0   370.0       8.0  Electronics     Printers  Credit Card
27  B-25778  1506.0  -266.0       6.0  Electronics     Printers  Credit Card

# Merge and data frame merging

 combines DataFrames based on a common key or index, similar to SQL joins.

In [76]:
var1 = pd.DataFrame({"A": ["a", "b", "c", "d", "e", "f"], "B": [1, 2, 3, 4, 5, 6]})
var2 = pd.DataFrame({"A": ["a", "b", "c", "d", "e", "f"], "D": [12, 23, 45, 34, 34, 43]})

pd.merge(var1, var2, on="A")

   A  B   D
0  a  1  12
1  b  2  23
2  c  3  45
3  d  4  34
4  e  5  34
5  f  6  43

In [77]:
var1 = pd.DataFrame({"A": ["a", "b", "c", "d", "e", "f"], "B": [1, 2, 3, 4, 5, 6]})
var2 = pd.DataFrame({"A": ["a", "b", "c", "d", "e", "f"], "D": [12, 23, 45, 34, 34, 43]})

pd.merge(var1, var2, how="inner")

   A  B   D
0  a  1  12
1  b  2  23
2  c  3  45
3  d  4  34
4  e  5  34
5  f  6  43

In [78]:
var1 = pd.DataFrame({"A": ["a", "b", "c", "d", "e", "f"], "B": [1, 2, 3, 4, 5, 6]})
var2 = pd.DataFrame({"A": ["a", "b", "c", "d", "e", "f"], "D": [12, 23, 45, 34, 34, 43]})

pd.merge(var1, var2, left_index=True, right_index=True)

  A_x  B A_y   D
0   a  1   a  12
1   b  2   b  23
2   c  3   c  45
3   d  4   d  34
4   e  5   e  34
5   f  6   f  43

In [79]:


var1 = pd.DataFrame({"A": ["a", "b", "c", "d", "e", "f"], "B": [1, 2, 3, 4, 5, 6]})
var2 = pd.DataFrame({"A": ["a", "b", "c", "d", "e", "f"], "D": [12, 23, 45, 34, 34, 43]})

pd.merge(var1, var2, left_index=True, right_index=True, suffixes=('name', 'mahi'))

  Aname  B Amahi   D
0     a  1     a  12
1     b  2     b  23
2     c  3     c  45
3     d  4     d  34
4     e  5     e  34
5     f  6     f  43

# Concat

stacks DataFrames vertically or horizontally without considering relationships, while

In [80]:
var1=pd.Series([12,23,4,4,5,2])
var2=pd.Series([43,54,43,3,12,4])
pd.concat([var1,var2])

0    12
1    23
2     4
3     4
4     5
5     2
0    43
1    54
2    43
3     3
4    12
5     4
dtype: int64

In [81]:
var1 = pd.DataFrame({"A": ["a", "b", "c", "d", "e", "f"], "B": [1, 2, 3, 4, 5, 6]})
var2 = pd.DataFrame({"A": ["a", "b", "c", "d", "e", "f"], "D": [12, 23, 45, 34, 34, 43]})

pd.concat([var1, var2])

   A    B     D
0  a  1.0   NaN
1  b  2.0   NaN
2  c  3.0   NaN
3  d  4.0   NaN
4  e  5.0   NaN
5  f  6.0   NaN
0  a  NaN  12.0
1  b  NaN  23.0
2  c  NaN  45.0
3  d  NaN  34.0
4  e  NaN  34.0
5  f  NaN  43.0

In [82]:
var1 = pd.DataFrame({"A": ["a", "b", "e", "f"], "B": [1, 2,4, 5]})
var2 = pd.DataFrame({"A": ["a", "b", "c", "d", "e", "f"], "D": [22,23, 45, 34, 34, 43]})

pd.concat([var1, var2],axis=1)

     A    B  A   D
0    a  1.0  a  22
1    b  2.0  b  23
2    e  4.0  c  45
3    f  5.0  d  34
4  NaN  NaN  e  34
5  NaN  NaN  f  43

In [83]:
var1 = pd.DataFrame({"A": ["a", "b", "e", "f"], "B": [1, 2,4, 5]})
var2 = pd.DataFrame({"A": ["a", "b", "c", "d", "e", "f"], "D": [22,23, 45, 34, 34, 43]})

pd.concat([var1, var2],join ='inner')

   A
0  a
1  b
2  e
3  f
0  a
1  b
2  c
3  d
4  e
5  f

In [84]:
var1 = pd.DataFrame({"A": ["a", "b", "e", "f"], "B": [1, 2,4, 5]})
var2 = pd.DataFrame({"A": ["a", "b", "c", "d", "e", "f"], "D": [22,23, 45, 34, 34, 43]})

pd.concat([var1, var2],join='outer')

   A    B     D
0  a  1.0   NaN
1  b  2.0   NaN
2  e  4.0   NaN
3  f  5.0   NaN
0  a  NaN  22.0
1  b  NaN  23.0
2  c  NaN  45.0
3  d  NaN  34.0
4  e  NaN  34.0
5  f  NaN  43.0

In [85]:
var0 = pd.DataFrame({"A": ["a", "b", "e", "f"], "B": [1, 2,4, 5]})
var3 = pd.DataFrame({"A": ["a", "b", "c", "d"], "D": [22,23, 45, 34]})

pd.concat([var0, var3],axis=1,keys=["var0","var3"])

  var0    var3
     A  B    A   D
0    a  1    a  22
1    b  2    b  23
2    e  4    c  45
3    f  5    d  34

In [86]:
var0 = pd.DataFrame({"A": ["a", "b", "e", "f"], "B": [1, 2,4, 5]})
var3 = pd.DataFrame({"A": ["a", "b", "c", "d"], "D": [22,23, 45, 34]})

pd.concat([var0, var3],axis=0,keys=["var0","var3"])

        A    B     D
var0 0  a  1.0   NaN
     1  b  2.0   NaN
     2  e  4.0   NaN
     3  f  5.0   NaN
var3 0  a  NaN  22.0
     1  b  NaN  23.0
     2  c  NaN  45.0
     3  d  NaN  34.0

# GroupBy

n Pandas, the groupby() function is used to split a DataFrame into groups based on the values in one or more columns. This allows you to perform operations on each group independently,

In [89]:


df = pd.DataFrame({'City': ['New York', 'New York', 'Los Angeles', 'Chicago'],
        'Sales': [100, 200, 150, 300]})
grouped = df.groupby('City')

In [91]:
for x,y  in grouped:
    print(x)
    print(y)

Chicago
      City  Sales
3  Chicago    300
Los Angeles
          City  Sales
2  Los Angeles    150
New York
       City  Sales
0  New York    100
1  New York    200

In [92]:
grouped.min()

             Sales
City
Chicago        300
Los Angeles    150
New York       100

In [93]:
grouped.max()

             Sales
City
Chicago        300
Los Angeles    150
New York       200

# Pivot Table

A pivot table is a data analysis tool that allows you to take columns of raw data from a pandas DataFrame, summarize them, and then analyze the summary data to reveal its insights.

In [95]:

data = pd.DataFrame({'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
        'Region': ['North', 'South', 'North', 'South'],
        'Sales': [100, 150, 200, 120]})

pivot_table = pd.pivot_table(data, index='Date', columns='Region', values='Sales', aggfunc='sum')

print(pivot_table)

Region      North  South
Date
2023-01-01    100    150
2023-01-02    200    120

# Melt

Pandas melt() and unmelt using pivot() function. Pandas melt() function is used to change the DataFrame format from wide to long.

In [96]:


df = pd.DataFrame({'id': [1, 2], 'A': [3, 4], 'B': [5, 6]})

melted_df = df.melt(id_vars='id', value_vars=['A', 'B'], var_name='column', value_name='value')

print(melted_df)

   id column  value
0   1      A      3
1   2      A      4
2   1      B      5
3   2      B      6